<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Importa as configurações padrão do Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Define o padrão de log com um ID de fuso horário válido -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>

    <!-- Appender de Console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Define o nível de log para o root logger -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
